body {
     background: #000;
}
/* .izle {
     border:1px solid red;
}*/
 .hareket {
     color: #5dea62;
     font-family: Monaco, monospace;
     font-size: 24px;
     width: 100%;
     text-align: left;
     animation: 120ms infinite normal glitch;
}
 span {
     animation: 1.5s infinite normal imlec;
}
 ::-moz-selection {
     background: #7021d2;
     color: #fff;
}
 ::selection {
     background: #7021d2;
     color: #fff;
}

 @keyframes glitch {
     0% {
         opacity: 0;
         left: 0;
    }
     40%, 80% {
         opacity: 1;
         left: -2px;
    }
}
.sosyalbutonlar{
	margin-top: 50px;
	display: inline-block;
	position: relative;
	margin-left: 40%;
  	
	
	}
	
.sosyalbutonlar a  {
  background:#a1a1a1;
	text-decoration: none;
	color: #FFF;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 20px;
	font-size: 30px;
	overflow: hidden;
	position: relative;
	line-height: 60px;
	text-align: center;
  }
    
.sosyalbutonlar a{  
   transition: transform 0.4s linear 0s, 
	 border-top-left-radius 0.1s linear 0s, 
	 border-top-right-radius 0.1s linear 0.1s, 
	 border-bottom-right-radius 0.1s linear 0.2s, 
	 border-bottom-left-radius 0.1s linear 0.3s;
 	
}

  .sosyalbutonlar .twitter:hover   {
      background-color: #00aced;
      transform: rotate(360deg);
      border-radius: 50%;	 
}

 .sosyalbutonlar .instagram:hover   {
      background-color: #bc2a8d;
      transform: rotate(360deg);
      border-radius: 50%;	 
}

 .sosyalbutonlar .linkedin:hover   {
      background-color: #00aced;
      transform: rotate(360deg);
      border-radius: 50%;	 
}

 .sosyalbutonlar .github:hover   {
       background-color: #000000;
      transform: rotate(360deg);
      border-radius: 50%;	 
}
 @keyframes imlec {
     0% {
         opacity: 0;
         left: 0;
    }
     40% {
         opacity: 0;
         left: -2px;
    }
     80% {
         opacity: 1;
         left: -2px;
    }
}
 .bilmm {
     display:inline-block;
     position: absolute;
     top: 45%;
     left: calc(50% - 200px);
}
