body {
    background: #000;
}
.hareket {
    color: red;
    font-family: Monaco, monospace;
    font-size: 24px;
    width: 100%;
    text-align: left;
    animation: 120ms infinite normal glitch;
}
span {
    animation: 1.5s infinite normal imlec;
}
::-moz-selection {
    background: red;
    color: #fff;
}
::selection {
    background: red;
    color: #fff;
}
.btn-game{
    display: inline-block;
    position: absolute;
    top: 70%;
    left: calc(50% - 200px);
}
.btn-game a{
    text-decoration: none;
    color: #000;
    background-color: red;
    padding: 20px;
    border-radius: 30px;
    opacity: 0.9;
    animation: 110ms infinite normal glitch;
}
@keyframes glitch {
    0% {
        opacity: 0;
        left: 0;
   }
    40%, 80% {
        opacity: 1;
        left: -2px;
   }
}
@keyframes imlec {
    0% {
        opacity: 0;
        left: 0;
   }
    40% {
        opacity: 0;
        left: -2px;
   }
    80% {
        opacity: 1;
        left: -2px;
   }
}
.bilmm {
    display:inline-block;
    position: absolute;
    top: 45%;
    left: calc(50% - 200px);
}